<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Litera</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="shortcut icon" type="image/jpg" href="/img/lt.svg" />
    <!-- The following libraries and polyfills are recommended to maximize browser support -->
    <!-- NOTE: you must adjust the paths as appropriate for your project -->
    <!-- 🚨 REQUIRED: Web Components polyfill to support Edge and Firefox < 63 -->
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>
    <!-- 💁 OPTIONAL: Intersection Observer polyfill for better performance in Safari and IE11 -->
    <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
    <!-- 💁 OPTIONAL: Resize Observer polyfill improves resize behavior in non-Chrome browsers -->
    <script src="https://unpkg.com/resize-observer-polyfill@1.5.0/dist/ResizeObserver.js"></script>
    <!-- 💁 OPTIONAL: Fullscreen polyfill is needed to fully support AR features -->
    <script src="https://unpkg.com/fullscreen-polyfill@1.0.2/dist/fullscreen.polyfill.js"></script>
    <!-- 💁 OPTIONAL: Include prismatic.js for Magic Leap support -->
    <script src="https://unpkg.com/@magicleap/prismatic/prismatic.min.js"></script>
    <!-- 💁 OPTIONAL: The :focus-visible polyfill removes the focus ring for some input types -->
    <script
      src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js"
      defer
    ></script>
    <!-- 💁 Include both scripts below to support all browsers! -->
    <!-- Loads <model-viewer> for modern browsers: -->
    <script
      type="module"
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"
    ></script>
    <!-- Loads <model-viewer> for old browsers: -->
    <script
      nomodule
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"
    ></script>
    <script src="/js/echoar.js"></script>
  </head>

  <svg width="0" height="0" class="hidden">
    <symbol
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      id="logout"
    >
      <path
        d="M255.15 468.625H63.787c-11.737 0-21.262-9.526-21.262-21.262V64.638c0-11.737 9.526-21.262 21.262-21.262H255.15c11.758 0 21.262-9.504 21.262-21.262S266.908.85 255.15.85H63.787C28.619.85 0 29.47 0 64.638v382.724c0 35.168 28.619 63.787 63.787 63.787H255.15c11.758 0 21.262-9.504 21.262-21.262 0-11.758-9.504-21.262-21.262-21.262z"
      ></path>
      <path
        d="M505.664 240.861L376.388 113.286c-8.335-8.25-21.815-8.143-30.065.213s-8.165 21.815.213 30.065l92.385 91.173H191.362c-11.758 0-21.262 9.504-21.262 21.262 0 11.758 9.504 21.263 21.262 21.263h247.559l-92.385 91.173c-8.377 8.25-8.441 21.709-.213 30.065a21.255 21.255 0 0 0 15.139 6.336c5.401 0 10.801-2.041 14.926-6.124l129.276-127.575A21.303 21.303 0 0 0 512 255.998c0-5.696-2.275-11.118-6.336-15.137z"
      ></path>
    </symbol>
  </svg>

  <form id="form">
    <p style="display: inline-block; size: 2rem;"><%= letter %></p>
    <input
      type="text"
      id="word"
      class="word-input"
      name="word"
      placeholder="What is this object?"
    />
    <input class="submit-btn" type="submit" value="Submit" />
  </form>
  <button onclick="logout()" id="logout-btn" class="logout-btn">
    <svg class="icon" height="15" width="18">
      <use xlink:href="#logout"></use>
    </svg>
  </button>

  <body>
    <div id="card"></div>
    <model-viewer
      style="width: 100%; height: 40rem; background-color: #203864;"
      src="<%= link1 %>"
      ios-src="<%= link2 %>"
      alt="Litera 3D Model"
      poster="https://console.echoar.xyz/assets/images/cloud_background.png"
      background-color="#203864"
      quick-look-browsers="safari chrome"
      camera-controls
      auto-rotate
      ar
      unstable-webxr
      preload
      shadow-intensity="1"
      loading="eager"
    >
      <button slot="ar-button">👋👀 See in AR</button>
      <img
        src="https://console.echoar.xyz/assets/images/echoAR - Logo.png"
        style="width: 5rem; position: absolute; bottom: 16px; right: 16px;"
      />
    </model-viewer>
  </body>
  <!-- Custom Scripts & Firebase -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="/js/config.js"></script>
  <script>
    var answer = "<%= name %>";
    var letter = "<%= letter %>";
  </script>
  <script src="/js/template.js"></script>
</html>
